<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>120497526303-68ssg4rc79lbveauncqtcq7vc4tpvfqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120497526303-68ssg4rc79lbveauncqtcq7vc4tpvfqp</string>
	<key>API_KEY</key>
	<string>AIzaSyD2FxvtsA8OlLQdjDzENM7PSoY2SeL_5BY</string>
	<key>GCM_SENDER_ID</key>
	<string>120497526303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benmakusha.hitchhkr-dev</string>
	<key>PROJECT_ID</key>
	<string>htchhkr-84466</string>
	<key>STORAGE_BUCKET</key>
	<string>htchhkr-84466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:120497526303:ios:dce3e94eb45a9967</string>
	<key>DATABASE_URL</key>
	<string>https://htchhkr-84466.firebaseio.com</string>
</dict>
</plist>